<h1 class="text-center">Welcome to Our Website This is a title woah! </h1>
<p class="text-center text-muted">And this is a subtitle!! Who would have thought.</p>

<h3>Current Time: <%= Time.current.strftime("%H:%M:%S") %></h3>
